---
title: "Lucky's"
---
{% include head.html %}

<div class="uk-container-center uk-text-center" id="home">
    <img style="background: black;" src="pix/shop_color_angle.jpg" alt="Lucky's Barbershop & Shave Parlor">
</div>


<div class="uk-marin uk-width-1-1 uk-container-center uk-text-center">
    <a class="uk-button uk-button-large front-button" href="#concord">Concord, NH (50 So State St)</a>
    <br>
    <a class="uk-margin uk-button uk-button-large front-button" href="#portsmouth">Portsmouth, NH (801 Islington St)</a>
</div>

<div class="uk-grid uk-panel-box" id="bio">

    <div class="uk-width-medium-1-1">
        <h3>The combination of handcrafted quality, hard work and esthetic are the standard here.
          We have stood the test of time and stayed true to our roots.
          We continue to forge on in a day and age where everything is over processed, and underwhelming.
          We take our time, we love what we do, and this is our passion.</h3>
    </div>

</div>

<div class="anchor uk-grid uk-panel-box" id="concord">

    <div class="uk-width-medium-1-3 uk-row-first">
        <img width="250" height="250" src="pix/concord_bw.jpg" alt="">
    </div>

    <div class="uk-width-medium-2-3">
        <h1>Lucky's Concord</h1>
        <a href="https://www.google.com/maps/place/Luckys+Barbershop/@43.2000938,-71.5352785">
          50 South State St. Concord, NH 03301
        </a>
        <p> 603-715-5470 </p>

        <p>
          Lucky's Barbershop and Shave Parlor was born out of a necessity for both Barbers and customers alike.
          At the time of its inception there was a big and hollow deficit of places to receive exceptional quality haircuts, conversation, and classic aesthetic,
          but also a lack of places for Barbers to perform these services. With the care, concern and fundamentals
          passed on from the highly skilled Barbers that came before us, we proudly carry the torch for
          generations to come. With open arms we welcome and embrace all walks of life, from men, women and children.
          We perform all haircuts,styles, beard trims and shaves to fit the grooming needs from classic to modern and everything in between. Service and quality is our mission.
        </p>

    </div>

</div>
<hr class="uk-grid-divider">

<div class="anchor uk-grid uk-panel-box" id="portsmouth">

    <div class="uk-width-medium-1-3">
        <img width="250" height="250" src="pix/portsmouth-2chairs.jpg" alt="">
    </div>

    <div class="uk-width-medium-2-3 uk-row-first">
        <h1>Lucky's Portsmouth</h1>
        <a href="https://www.google.com/maps/place/PAPA+WOLF+SUPPLY+CO./@43.068953,-70.7725561,15z/data=!4m5!3m4!1s0x0:0x29b92345a0dc16d3!8m2!3d43.0690933!4d-70.7730596!6m1!1e1">
          801 Islington St #28, Portsmouth, NH 03801
        </a>
        <p> 603-715-5470 </p>
        <b>Lucky's Portsmouth is appointment only.</b>
        <a class="uk-button" href="http://luckysbarbershop.appointy.com/">Schedule an Appointment</a>

        <p>
          2017 is a big year in a lot of ways for people. It's a true sign
          of the times and a change in the every day world that we live in.
          For many years people have traveled extensively throughout the
          great state of New Hampshire and beyond to the capital city of
          Concord to get their haircut at Luckys Barbershop and Shave Parlor.
          We understand the challenges of distance and time just as much as the
          next. We decided that this was the time to bring our specialty skill
          set and trade to Portsmouth New Hampshire. In an ever-growing city
          that exemplifies community, hard work, creativity, and small business
          growth,we felt that it would be as good a time as any to spread our
          wings and bring Lucky's to the coast. We couldn't be happier shortening
          the commute for a lot of our long-term customers and bridging the gap
          where this area has felt a void for a long time for new customers alike.
          We are happy and pleased to be located within the
          <a href="https://ironandair.com/">Iron and Air Supply</a>
          headquarters on Islington Street. We feel like it's a great
          combination of handmade craftsmanship housed under one roof. We
          look forward to what the new year brings upon us hope to see you soon!
        </p>
      </p>

    </div>


</div>

<hr class="uk-grid-divider">

<div class="anchor uk-grid uk-panel-box" id="schedule">

    <div class="uk-width-medium-1-3 uk-row-first">
        <img width="250" height="250" src="pix/whiteboard.jpg" alt="">
    </div>

    <div class="uk-width-medium-2-3">
        <h1>Schedule</h1>
        {% capture my_include %}{% include hours.md %}{% endcapture %}
        {{ my_include | markdownify }}

        <div>Check
          <a href="https://www.facebook.com/luckysbarbershopandshaveparlor/">
            Lucky's Facebook Page
          </a>
          for holiday scheduling
        </div>

        <h2>Portsmouth</h2> Lucky's Portsmouth is appointment only.
        <a class="uk-button" href="http://luckysbarbershop.appointy.com/">Schedule an Appointment</a>
        </p>
    </div>

</div>

{% include foot.html %}
