<div id="offcanvas" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav=''>
      <li><a href="#home" onclick="jQuery.UIkit.offcanvas.hide(force=true);">Home</a></li>
      <li><a href="#concord" onclick="jQuery.UIkit.offcanvas.hide(force=true);">Concord</a></li>
      <li><a href="#portsmouth" onclick="jQuery.UIkit.offcanvas.hide(force=true);">Portsmouth</a></li>
      <li><a href="#barbers" onclick="jQuery.UIkit.offcanvas.hide(force=true);">Barbers</a></li>
      <li><a href="#schedule" onclick="jQuery.UIkit.offcanvas.hide(force=true);">Schedule</a></li>
    </ul>
  </div>
</div>
