<div class="uk-slidenav-position uk-margin" data-uk-slider="{autoplay:true, autoplayInterval:3000}">

  <div class="uk-slider-container">
    <ul class="uk-slider uk-grid-width-large-1-4 uk-grid-width-small-1-2">
      <li><img src="pix/cuts/1.jpg"/></li>
      <li><img src="pix/cuts/2.jpg"/></li>
      <li><img src="pix/cuts/3.jpg"/></li>
      <li><img src="pix/cuts/4.jpg"/></li>
      <li><img src="pix/cuts/5.jpg"/></li>
      <li><img src="pix/cuts/6.jpg"/></li>
      <li><img src="pix/cuts/7.jpg"/></li>
      <li><img src="pix/cuts/8.jpg"/></li>
      <li><img src="pix/cuts/9.jpg"/></li>
      <li><img src="pix/cuts/10.jpg"/></li>
      <li><img src="pix/cuts/11.jpg"/></li>
      <li><img src="pix/cuts/12.jpg"/></li>
      <li><img src="pix/cuts/13.jpg"/></li>
      <li><img src="pix/cuts/14.jpg"/></li>
      <li><img src="pix/cuts/15.jpg"/></li>
      <li><img src="pix/cuts/16.jpg"/></li>
      <li><img src="pix/cuts/17.jpg"/></li>
      <li><img src="pix/cuts/18.jpg"/></li>
      <li><img src="pix/cuts/19.jpg"/></li>
    </ul>
  </div>

    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>

</div>
